.demo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(../img/demo/image.png);
    padding: 180px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.demo__description {
    font-size: 16px;
}
.demo__content{
    display: flex;
    align-items: center;

}
.demo__left{
    max-width: 535px;
}
.demo__left { 
    margin-right: 46px;
}
.demo__input{
    margin-bottom: 35px;
}