.footer{
    margin-top: 190px;
    background: #2d343c;
    padding: 60px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__item{
    margin-bottom: 15px;
}
.footer__mail{
    font-weight: 500;
    color: #d4c17f;
}
.footer__link{
    color: #ffffff;
}
.footer__item img{
    margin-right: 1px;
}